{% extends 'base.html' %}

{% block content %}
<p><b>Nama:</b> {{ nama }}</p>

<table>
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
	{% for barang in list_barang %}
		<tr>
			<td>{{barang.nama_barang}}</td>
			<td>{{barang.harga_barang}}</td>
			<td>{{barang.deskripsi}}</td>
		</tr>
	{% endfor %}
</table>

<p>Sesi terakhir login: {{ last_login }}</p>

<a href="{% url 'wishlist:logout' %}"><button>Logout</button></a>


{% endblock content %}